
@import "../../../components/UI/vars.scss";
@import "../../../components/UI/mixins.scss";

.products{
    @include flexbox($gap: 1rem, $fd: column);
    margin-bottom: 50px;
    &__slider{
        margin-top: 5px;
        overflow: hidden;
        width: 100%;
    }
    &__slider_item{
        width: max-content!important;
    }
    &__heading{
        width: 100%;
        @include f-between($ai: center);
    }
    &__titles{
        @include flexbox($gap: 1rem, $ai: center);
    }
    &__title{
        @include font($fsz: 1.6rem, $fw: 700);
        color: $text-primary-color;
    }
    &__subtitle{
        @include font($lh: 200%, $fw: 700);
        padding: 10px;
        border-radius: 100px;
    }
    &__navs{
        @include flexbox($gap: 1rem, $ai: center);
    }
    &__nav{
        height: 3rem;
        width: 3rem;
        border-radius: 50%;
        background-color: $button-secondary-color;
        cursor: pointer;
    }
    &__nav_prev{
        @include back-image($url: "@/icons/arrow-left.svg", $size: 70%)
    }
    &__nav_next{
        @include back-image($url: "../../../icons/arrow-right.svg", $size: 70%)
    }
}

.popular{
    background-color: #ffebeb;
    color: red;
}
.discounts{
    background-color: #d4ddff;
    color: #0036F4;
}
.news{
    background-color: #ffe9d4;
    color: #ff7e07;
}
 
@media screen and (max-width: 768px) {
    .products{
        &__navs{
            display: none!important;
        }
    }
}