@import "../../../scss-common/vars.scss";
@import "../../../scss-common/mixins.scss";

.about{
    @include f-between($gap: 30px);
    margin: 100px 0;
}

.about-text{
    @include flexbox($fd: column, $gap: 1rem);
    width: 100%;
    &__title{
        @include font($fsz: 2.2rem, $fw: 700);
        color: $text-primary-color;
    }
    &__item{
        @include flexbox($fd: column, $gap: 1rem);
    }
    &__item_title{
        @include font($fsz: 1.2rem, $fw: 500);
        color: $text-primary-color;
    }
    &__item_subtitle{
        @include font;
        color: $overlay-color;
    }
}

.about-experience{
    width:  min(600px, 100%);
    padding: 30px;
    border-radius: 20px;
    background-color: $light-green;
    &__title{
        @include font($fsz: 1.2rem, $fw: 700);
    }
    &__list{
        margin-top: 20px;
        margin-left: 20px;
        @include flexbox($fd: column, $gap: 1rem)
    }
    &__list_item::marker{
        color: $text-secondary-color;
    }
    &__list_item{
        list-style-type: disc;
        @include font($lh: 1.2rem);
        color: $text-primary-color;
    }
}

@media screen and (max-width: 768px){
    .about{
        flex-wrap: wrap;
        margin: 40px 0;
    }
    .about-text{
        &__item_title{
            font-weight: 700!important;
            color: #000;
        }
    }
    .about-experience{
        padding: 15px;
        width: 100%;
    }
}