
@import "../../../scss-common/vars.scss";
@import "../../../scss-common/mixins.scss";


.item-info{
    margin: 50px 0;
    @include flexbox();
    &__item{
        padding: 40px;
        border-radius: 20px;
        width: 100%;  
    }
    &__item-gray-bg{
        background-color: $button-secondary-color;
        padding-right: 100px;
    }
    &__item--title{
        @include font($fsz: 1.3rem, $fw: 700);
        margin-bottom: 20px;
    }
    &__item--text{
        @include font($lh: 150%);
        color: $overlay-color;
    }
    &__content{
        @include flexbox($fd: column, $gap: 20px);
    }
    &__content--item{
        width: 100%;
        @include f-between($ai: flex-end);
    }
    &__content--line{
        width: 100%;
        height: 100%;
        border-bottom: 1px solid $button-secondary-color;
    }
    &__content--item_text{
        @include font;
        color: $text-primary-color;
    }
    &__content--item_text_grey{
        @include font;
        color: $overlay-color;
        text-align: right;
        text-wrap: nowrap;
    }
}

@media screen and (max-width: 768px){
    .item-info{
        &__item{
            padding: 20px;
        }
        // flex-wrap: wrap;~
        &__content--item_text_grey{
            text-wrap: wrap;
        } 
        &__item-gray-bg{
            padding-right: 20px;
        }
    }
}