@import "../../components/UI/vars.scss";
@import "../../components/UI/mixins.scss";

.menu-container{
    @include f-between($gap: 2rem);
    position: relative;
    margin: 0 auto;
    padding: 20px;
    width: min(1440px, 100%);
    height: max-content;
    max-height: 437px;
    &__item{
        transition: .3s;
        cursor: pointer;
        width: 100%;
        position: relative;
        @include f-center();
        padding: 10px;  
    }
}

.header-menu{
    position: absolute!important;
    padding-top: 20px; 
}
.menu{
    @include flexbox($fd: column, $gap: 20px);
    position: relative;
    z-index: 7;
    width: 300px;
    height: 100%;
    border-radius: 10px;
    padding: 10px 0;
    overflow: auto;
    overflow-x: hidden;
    background-color: $main-primary-color;

    &__item{
        @include flexbox($gap: 10px, $ai: center);
        width: 100%;
        padding: 10px 20px;
        cursor: pointer;
        transition: $trans-time;
        &:hover{
            background-color: $menu-item-hover-back;
        }
        &::after{
            content: "";
            position: absolute;
            z-index: 3;
            right: 0;
            height: 30px;
            width: 30px;
            @include back-image("../../icons/arrow-right.svg");
        }
    }
    &__item_icon{
        font-size: 1.5rem;
        color: $text-icons-color;
    }
    &__text{
        color: #121212;
        @include font;
    }
}

.menu-navbar{
    background-color: #e9e8e8;
    border-radius: 20px;
    display: none;
    width: 100%;
    &__header{
        background-color: #caf0d2;
        padding: 10px;
        border-radius: 20px;
        display: none;
    }
    &__container{
        @include f-between($gap: 4rem, $fw: wrap);
        padding: 20px;
    }
    &__header_item{
        width: 100%;
        @include f-center($jc: flex-start, $gap: 1rem);
        &:nth-child(1) &_button{
            @include back-image("../../icons/person.svg")
        }
        &:nth-child(2) &_button{
            @include back-image("../../icons/like.svg")
        }
    }
    &__header_item_title{
        @include font($fsz: 1.5rem, $lh: 200%);
        color: $text-primary-color;
    }
    &__header_item_button{
        @include back-image();
        height: 25px;
        width: 25px;
    }
    &__list{
        @include flexbox($fd: column, $gap: 1rem)
    }
    &__links{
        @include flexbox($fd: column, $gap: 1rem, $ai: flex-end)
    }
    &__link{
        @include font($fsz: 1.5rem);
        color: $text-primary-color;
    }
    &__connect{
        color: $text-secondary-color;
    }
}

.menu-items{
    position: absolute;
    z-index: 8;
    left: 350px;
    width: max-content;
    height: max-content;
    padding: 10px;
    border-radius: 10px;
    overflow: auto;
    background-color: $main-primary-color;
    &__header{
        display: none;
        padding: 1rem;
        border-bottom: 2px $button-secondary-color solid;
    }
    &__header--title{
        @include font($fsz: 2rem, $fw: 500);
        color: $text-primary-color;
    }
    &__header--close-icon{
        @include back-image("../../icons/close.svg");
        width: 50px;
        height: 50px;
    }
    &__list{
        @include flexbox($fd: column, $gap: 1rem);
        padding: 10px;
    }
    &__item{
        transition: .3s;
        cursor: pointer;
        width: 100%;
        position: relative;
        display: flex;
        align-items: center;
        color: #121212;
        font-family: "Roboto", sans-serif;
    }
    &__item_title{
        @include font($fsz: 1.2rem);
        color: #2a8927!important;
    }
    &__item_text{
        font-size: 1rem;
        color: #121212;
    }
}

@media screen and (max-width: 1024px){
    .menu-navbar{
        display: block;
    }
    .menu{
        min-height: 100vh;
        width: 495px;
        border-radius: 0;
        left: 0;
    }
    .menu-items{
        min-height: 100vh;
        width: 100%;
        border-radius: 0;
        top: -80px;
        left: 0;
        z-index: 99999;
        &__header{
            @include f-between;
        }
        &__item_title{
            font-size: 1.5rem!important;
        }
        &__item_text{
            font-size: 2rem;
        }
    }
    .menu-container{
        padding: 0;
    }
}

@media screen and (max-width: 768px){

    .menu-container{
        min-height: 100vh;
        width: 100%;
        top: 0;
        padding: 0;

    }

    .menu-items{
        min-height: 100vh;
        width: 100%;
        border-radius: 0;
        left: 0;
        top: 0;
    }

    .menu{
        top: 0px;
        padding: 10px;
        min-height: 100vh;
        width: 100%;
        border-radius: 0;
        background-color: $main-primary-color;
        &__text{
            font-size: 1.2rem;
        }
        &__list{
            margin-top: 60px;
        }
    }
    .menu-navbar{
        &__container{
            flex-wrap: wrap;
        }

    }
}

@media screen and (max-width: 360px){
    .menu-navbar{
        &__container{
            flex-wrap: wrap;
        }
        &__header{
            @include flexbox($fd: column, $gap: 1rem)
        }
    }
    .menu-items{
        &__header{
            @include f-between($gap: 1rem);
        }
    }
}