
@import "../../components/UI/vars.scss";
@import "../../components/UI/mixins.scss";

.overlay{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    opacity: 0.7;
    background: $overlay-color;
}