
.global-container{
    margin: 0 auto;
    width: min(1456px, 100%);
    padding: 0 1rem;
}
.global-container-no-padding{
    margin: 0 auto;
    width: min(1440px, 100%);
}

::-webkit-scrollbar {
    width: 10px;
}
  
::-webkit-scrollbar-track {
    background: #e9e8e8; 
}

::-webkit-scrollbar-thumb {
    background: #2a8927; 
    border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
    opacity: .7;
}
