@import "../../../scss-common/vars.scss";
@import "../../../scss-common/mixins.scss";

.cart-item{
    @include f-between($ai: center);
    width: 100%;
    &__info{
        @include flexbox($gap: 1rem);
    }
    &__img{
        height: 90px;
        width: 90px;
        background-color: #333;
        border-radius: 5px;
    }
    &__content{
        @include flexbox($gap: 1rem, $fd: column);
    }   
    &__title{
        @include font;
    }
    &__actions{
        @include flexbox($gap: 20px, $ai: center);
    }
    &__price{
        @include font($fsz: 1.7rem, $fw: 700)
    }
}

@media (max-width: 768px){
    .cart-item{
        &__price{
            @include font( $fsz: 1rem);
        }
    }
}