$container-width: 1440px;

$main-primary-color: #fff;
$main-secondary-color: #f8f8f8;
$overlay-color: #4c4c4c;

$button-secondary-color: #e8e8e8;
$menu-item-hover-back: #dee2e6;

$text-primary-color: #121212;
$text-secondary-color: #2A8927;
$text-icons-color: #4a9d23;

$font-family-base: 'Roboto', sans-serif;

$trans-time: .3s;